@media screen and (max-width: 1276px){
    .brands__item{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .form__btn{
        margin-top: 15px;
    }
}
@media screen and (max-width: 1024px){
    .nav{
        display: none;
    }
    .burger__btn{
        display: block;
    }
}
@media screen and (max-width: 940px){
    .section__title{
        font-size: 28px;
        padding-top: 60px;
        padding-bottom: 42px;
    }
}
@media screen  and (max-width: 946px){
    .productCard{
        flex-direction: column;
        align-items: center;
    }
    .productCard__img{
        padding-right: 0;
        text-align: center;
    }
    
    .productCard__caption{
        width: 80%;
        margin-top: 20px;
        margin-right: 0;
    }  
    

}    
@media screen and (max-width: 768px){
    .new-collection__items img{
        max-width: 260px;
        height: auto;
        border-radius: 5px;
    }
}
@media screen  and (max-width: 696px){ 
    .logo__link{
        font-size: 28px;
    }
    h3{
        font-size: 20px;
        padding-top: 38px;
        padding-bottom: 20px;
    }
    .section__title{
        font-size: 24px;
        padding-top: 56px;
        padding-bottom: 36px;
    }
    .work__time{
        display: none;
    }
    .work__day> span:not(:last-child){
        border-right: none;
    }
    .section__about{
        height: auto;
    }
    .section__about .container__content{
        flex-direction: column;
    }
    .about__description,  
    .about__btn{
        width: 100%;
    }
    .about__form{
        width: 100%;
        padding-bottom: 15px;
    }
    .burger__btn{
        margin-right: 20px;
    }

    .cartBtn__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 0;
        height: 90px;
        align-items: center;
    }
    .total__cost{
        text-align: center;
        margin-left: 0;
    }
    .backToCatalog__btn,
    .checkout__btn,
    .clearCart__btn{
    width: 240px;
    }

}
@media screen and (max-width: 642px){
    .section__title{
        padding-top: 26px;
        padding-bottom: 16px;
    }
    .line{
        margin-bottom: 28px;
    }
    .section__new-collection{
        display: flex;
        flex-direction: column-reverse;
    }
    .new-collection__items{
        width: 100%;
        height: 380px;
    }
    .new-collection__items img{
        max-width: 220px;
        height: auto;
    }
    .new-collection{
        width: 100%;
        height: 530px;
    }
    .section__prev-collection{
        flex-direction: column-reverse;
    }
    .prev-collection{
        width: 100%;
        height: 380px;
    }
    .prev-collection__description{
        width: 100%;
        height: auto;
    }
    .brands__item{
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .contacts__item{
        width: 80%;
    }
    .contacts__content{
        justify-content: center;
    }
}
@media screen and (max-width: 578px){
    .cart__item{
        margin-bottom: 15px;
        justify-content: space-between;
    }
    .cart-description__wrapper{
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .deleteCart__item{
        
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        border: none;
        background-color: #0F0F0F;
        color: #fff;
        padding: 10px 18px;
        cursor: pointer;
        outline: none;
        opacity: 0.8;
        margin-top: 15px;
        margin-left: 20px;
    }
}
@media  screen and (max-width: 482px){
    .productCard__btn{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .productCard__addBtn{
        margin-bottom: 15px;
    }
    .logo__link{
        display: none;
    }

}
@media screen and (max-width: 454px){
    .login__container{
        max-width: 80%;
    }
}
@media screen and (max-width: 420px) {
    .cart__item{
        flex-direction: column;
    }
    .cart-description__wrapper{
        align-items: center;
    }
    .cartItem__description{
        width: 200px;
        padding-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 370px){
    .maine__title{
        width: 290px;
        height: 290px;
        margin: 100px 0px;
    }
    h1{
        font-family: 'Black Ops One', cursive;
        font-size: 42px;
    }
    
    .burger__btn{
        width: 30px;
        height: 20px;
    }
    .login__link{
        text-decoration: none;
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        color: grey;
        padding-left: 5px;
    }
    .login__link::before{
        display: none;
    }
}
@media screen and (max-width: 378px){
    .product__price{
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #000; 
        margin-right: auto;
    }
    .product__addBtn{
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        padding: 4px 10px;
    }
    .filter__body{
        width: 80%;
    }
}