*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Black Ops One', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
}
.container__content{
    width: 80%;
    max-width: 1110px;
    margin: 0px auto;
}
.header__section-contacts{
    background-color: #000;
}
.header__section-contacts .container__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}
.work__day> span{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: grey;
    padding-left: 12px;
}
.work__day> span:not(:last-child){
    border-right: 1px solid grey;
    padding-right: 12px;
}
.phone__wrapper{
    position: relative;
}
.tel{
    text-decoration: none;
    color: grey;
    padding-left: 15px;
}
.tel::before{
    content:url('../image/icons/phone-icon.png');
    position: absolute;  
    left: 0;    
}
.tel:hover{
    color: #fff;
}
.login{
    position: relative;
}
.login__link{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: grey;
    padding-left: 20px;
    display: inline-block;
    cursor: pointer;
}
.login__link:hover{
    color: #fff;
}
.login__link::before{
    content: url('../image/icons/log-in-icon.png'); 
    position: absolute;
    left: -5px;
}
/*
Header section*************************************
*/
.header__section-nav{
    background-color: #0F0F0F;
}
.header__section-nav .container__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 45px;
    display: flex;
    align-items: center;
}
.logo__link{
    font-family: 'Black Ops One', cursive;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}
.headerNav__wrapper{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    list-style: none;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    padding: 30px 18px;
}
.nav a:hover{
    color: #fff;
    background-color: #1f1f1f;
}
.header__cart{
    color: #fff;
    opacity: 0.8;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.header__cart:hover{
    opacity: 1;
}
.cartCounter{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    margin-left: 5px;
}
/*
Main page****************************************
*/
.main__page{
    max-width: auto;
    height: auto;
    background-image: url(../image/first-screen.png);
    background-size: cover;
    background-position: center;
}
.wrapper__maine__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maine__title{
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    margin: 150px 0px;
}
h1{
    font-family: 'Black Ops One', cursive;
    font-size:54px;
    color: #fff;
    border-bottom: 2px solid #fff;
}
h3{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 48px;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}
.maine__title__sub{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color: #fff;
}
.main__page__description{
    max-width: 730px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    opacity: 0.7; 
    text-align: center;
    margin-bottom: 140px;
}
.page__description{
    max-width: 470px;
    margin: 0 30px 48px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    opacity: 0.7; 
    text-align: center;
    
}
.section__title{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 48px;
}
.line{
    width: 120px;
    height: 2px;
    background-color: #fff;
    opacity: 0.6;
    margin: 0px auto;
    margin-bottom: 48px;
}
.section__new-collection{
    display: flex;
    flex-direction: row-reverse;
}
.new-collection__items{
    width: 52%;
    height: 730px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-collection__items img{
    max-width: 360px;
    height: auto;
    border-radius: 5px;
}
.new-collection{
    width: 48%;
    height: 730px;
    background-image: url(../image/collection-new.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.section__prev-collection{
    display: flex;
}
.prev-collection{
    width: 48%;
    height: 600px;
    background-image: url(../image/collection-old.png);
    background-size: cover;
    background-position: center;
}
.prev-collection__description{
    width: 52%;
    height: 600px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collection__btn{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    cursor: pointer;
    outline: none;
    margin-bottom: 86px;
}
/*
Slider***************************************
*/
.section__newgoods{
    background-color: #0F0F0F;
}
.slider-item__container{ 
    box-sizing: border-box;
    padding: 15px;
    
}
.slider-item__container img{
    max-width: 100%;
    height: auto;
}
/*
Brands*********************************
*/
.section__brands{
    background-color: #0F0F0F;
}
.wrapper__brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 68px;
}
/*
About section*************************************
*/
.section__about{
    max-width: auto;
    height: 400px;
    background-image: url(../image/about-bg.png);
    background-size: cover;
    overflow: hidden;
}
.section__about .container__content{
    display: flex;
    justify-content: space-between;
}
.about__description{
    width: 350px;
}
.about__description p{
    padding-right: 15px;
}
.about__btn{
    width: 350px;
}
.about__btn button{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 14px 20px;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
    margin-right: 15px;
}
.about__form{
    width: 350px;
}
.input__form{
    width: 190px;
    height: 48px;
    background-color: #C4C4C4;
}
.form__btn{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 14px 20px;
    cursor: pointer;
    outline: none;
}
.footer{
    background-color: #0F0F0F;
}
.copyright{
    display: flex;
    justify-content: space-between;
}
.copyright__link{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #D0D0D0;
    display: inline-block; 
    padding-top: 18px; 
    padding-bottom: 18px;
}
/*
Contacts page***********************************
*/
.section__contacts{
    max-width: auto;
    height: auto;
    background-image: url(../image/first-screen.png);
    background-size: cover;
    background-position: center;
}
.contacts__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.contacts__item{
    width: 40%;
}
.contact__title{
    padding-bottom: 30px;
}
.contacts__tel,
.contacts__mail{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
}
.map{
    height: 360px;
    width: 100%;
    border: none; 
}
/*
Catalog page**************************************
*/
.section__catalog{
    max-width: auto;
    height: auto;
    background-image: url(../image/first-screen.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
}
.catalog__content{
    width: 100%;
    background-color: #1f1f1f;
    border-radius: 5px;  
}
.ctalog__filter__section{
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ctalog__filter__btn{
    width: 100px;
    height: 35px;
    margin-right: 10px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.ctalog__filter__btn img{
    width: auto;
    height: 100%;
}
.catalog__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
/*
Product *****************************************
*/
.product__item{
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    margin: 25px 25px 10px 25px;
    padding: 10px;
}
.product__picture img{
    max-width: 100%;
    height: auto; 
}
.product__caption{
    background-color: rgb(231, 231, 231);
}
.product__title{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000; 
    cursor: pointer; 
    padding: 10px 5px;
    height: 45px;
}
.product__description{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 10px 5px 15px;
    height: 84px;
    overflow: hidden;
}
.price__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px;
}
.product__price{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000; 
    margin-right: auto;
}
.product__addBtn{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;   
}
/*
Product card****************************************
*/
.section__productCard{
    max-width: auto;
    min-height: 100vh;
    background-image: url(../image/first-screen.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.productCard{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(238, 238, 238);       
}
.productCard__img{
    width: 280px;
    padding-right: 15px;   
}
.productCard__img img{
    max-width: 280px;
    width: 80%;
    height: auto;
}
.productCard__caption{
    width: 60%;
    margin-right: 40px;
}
.productCard__title{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000;  
    margin-bottom: 30px;  
}
.productCard__description{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}
.productCard__price{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000; 
    
}
.productCard__btn{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.productCard__addBtn{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}
.back__btn{  
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}

/*
Cart************************************
*/
.section__cart{
    max-width: auto;
    min-height: 100vh;
    background-image: url(../image/first-screen.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.cart__content{
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(238, 238, 238);
}
.cart__item{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}
.cart-description__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.cartItem__picture{
    width: 80px;  
}
.cartItem__picture img{
    max-width: 100%;
    height: auto;
}
.cartItem__description{
    width: 200px;
    padding-left: 20px;
}
.productCart__item-title{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;     
}
.productCart__item-price{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000; 
}
.total__cost{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000; 
    margin-left: 90px;  
}
.deleteCart__item{
    margin-left: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}
.cartBtn__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 90px;
}
.backToCatalog__btn,
.checkout__btn,
.clearCart__btn{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
}
.cart__alert{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #000;  
    margin-bottom: 30px;
    text-align: center;
}
/*
Search*************************************
*/
#header__widget__value{
    max-width: 160px;
    width: 100%;
    font-size:16px;
    border-radius: 18px;
    outline: none;
    color:#fff;
    opacity: 0.8;
    padding: 8px 20px;
    background-color: #353535;
    margin-left: 20px;
    background-image: url('../image/icons/search-icon.png');
    background-repeat: no-repeat;
    background-position: center right 20px;   
}
#header__widget__value::placeholder{
    color:#fff;
}
/*
Filter*******************************************************
*/
.filter__modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    z-index: 99999;
    background-color: rgba(0,0,0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter__body{
    width: 300px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.filter__body input{
    margin: 0 25px 25px 45px;
}
.filter__title{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    padding: 10px 5px;
    height: 45px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.filter__close__btn{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    width: 200px;
    margin: 10px auto ;
}
/*
Login*****************************************
*/
.modal__login{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    z-index: 99999;
    background-color: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;   
}
.login__container{
    width: 360px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.login__title{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    padding: 10px 5px;
    height: 45px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login__form input{
    height: 35px;
    width: 90%;
    margin-bottom: 15px;
    margin-left: 15px; 
}
.login__close-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    position: absolute;
    top: -25px;
    right: -25px;
}
.login__close-btn img{
    max-width: 100%;
    height: auto;
}
.login-btn__wrapper{
    display: flex;
    justify-content: space-between;
}
.login-btn__reg,
.login-btn__in{
    margin-left: auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    border: none;
    background-color: #0F0F0F;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    margin: 5px 15px 15px;
}
.burger__btn{
    width: 30px;
    height: 20px;
    margin-right: 40px;
    position: relative;
    cursor: pointer;
    z-index: 999;
    display: none;
}
.burger__btn.active{
    position: absolute;
    top: 45px;
    left: 144px;
}
.burger__btn span{
    position: absolute;
    top: 9px;
    width: 30px;
    height: 2px;
    background-color: #fff;
}
.burger__btn::before{
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
}
.burger__btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
}
.nav-bar{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.nav-bar.active{
    display: block;
}
.blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    position: absolute;
}
.nav__content{
    width: 200px;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.nav-bar__link{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.nav-bar__link a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    padding: 30px 56px;
    border-right: 2px solid transparent;   
}
.nav-bar__link a:hover{
    color: #fff;
    background-color: #1f1f1f;
    border-right: 2px solid #fff;
}

